# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj

# Build ve derleme dosyaları
.build/
DerivedData/
build/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
